<!DOCTYPE html>
<html lang="en" ng-app='try'>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">-->
  <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">-->
  <!--<link rel="stylesheet" href="app.css">-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src='app.module.js'> </script>
    <script src='app.config.js'></script>

<style>
    .new-class{
        font-size: 75px;
    }

    .other-class {
        font-size: 50px;
    }
    .other-class2 {
        font-size: 15px;
    }
</style>
</head>
<body>
  <ul class="menu">
    <li><a href="#!/view1">view1</a></li>
    <li><a href="#!/view2">view2</a></li>
  </ul>

  <!--[if lt IE 7]>-->
      <!--<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>-->
  <!--<![endif]-->

  <div ng-view></div>
<span ng-></span>
  <div><h1 class="new-class" ng-class="{'other-class': name=='Patryk', 'other-class2': font==120}">Angular seed app:
    <span ng-if="name">{{name}}</span>
    <span ng-if="!name">World</span>
  </h1></div>
  <input type='text' ng-model='name'/>

  <input type="text" ng-model='font' placeholder="font-size">

  <!--<div>-->
      <!--<h2 ng-if="size" class="new-class">Changing size if input's fulfilled-->
      <!--</h2>-->
      <!--<input type="text" ng-model="size" />-->
  <!--</div>-->


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
<span ></span>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
<span ></span>
</body>
</html>
